---
import '@/styles/globals.css'
import '@fontsource-variable/inter';

import AnimationCard from '@/components/AnimationCard.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GSAP animations</title>
	</head>
	<body class="bg-[#FDFDFF] text-[#394D3F]">
		<div class="mx-auto px-4 max-w-4xl space-y-20">

			<header class="flex flex-col items-center justify-center text-center space-y-12 my-8">
				<svg class="w-28 h-32" role="img" aria-label="GSAP abc logo, it's a giraffe head" width="258" height="370" viewBox="0 0 258 370" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round">
					<path class="eye-r" d="M182.564 161.737C187.327 161.737 191.189 156.688 191.189 150.459C191.189 144.23 187.327 139.18 182.564 139.18C177.8 139.18 173.939 144.23 173.939 150.459C173.939 156.688 177.8 161.737 182.564 161.737Z" fill="#1D1D1B" stroke="#1D1D1B" stroke-width="2.35" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="eye-l" d="M75.0106 161.737C79.774 161.737 83.6355 156.688 83.6355 150.459C83.6355 144.23 79.774 139.18 75.0106 139.18C70.2472 139.18 66.3857 144.23 66.3857 150.459C66.3857 156.688 70.2472 161.737 75.0106 161.737Z" fill="#1D1D1B" stroke="#1D1D1B" stroke-width="2.35" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="ear-r" d="M191.188 88.491C191.467 82.5814 192.667 72.0449 198.217 60.6654C200.464 56.066 206.808 43.468 220.814 34.8831C232.936 27.4525 244.484 26.8936 249.941 27.0219C250.709 30.9983 251.537 37.9157 249.62 45.9235C247.111 56.4142 241.324 62.7819 236.856 67.7111C234.989 69.7635 227.699 77.5238 215.652 82.9479C205.836 87.364 197 88.3627 191.188 88.491Z" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="ear-l" d="M66.3857 88.491C66.1069 82.5814 64.9074 72.0449 59.3574 60.6654C57.1103 56.066 50.7663 43.468 36.7603 34.8831C24.6382 27.4525 13.0905 26.8936 7.63339 27.0219C6.86467 30.9983 6.0368 37.9157 7.95438 45.9235C10.4633 56.4142 16.2498 62.7819 20.7185 67.7111C22.5854 69.7635 29.8756 77.5238 41.9217 82.9479C51.7377 87.364 60.5738 88.3627 66.3857 88.491Z" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="head" d="M130.51 261.893C126.456 262.016 116.014 262.23 106.207 256.979C89.9793 248.288 86.7017 230.663 86.5074 229.394C83.5085 209.964 99.8966 204.025 103.909 174.751C104.982 166.886 105.683 155.613 100.023 143.139C91.9982 125.437 77.4263 119.842 78.8962 106.29C79.5804 100.015 82.8834 99.7244 84.9192 90.0556C87.0396 80.0046 85.198 72.0938 84.0576 66.6364C81.9204 56.402 79.5466 41.8261 78.0176 21.3649C77.6122 15.5942 82.1907 10.4884 88.3743 9.65529C94.7606 8.79159 100.953 12.7585 102.177 18.6286C103.901 35.2834 105.632 51.9306 107.356 68.5855C108.707 69.6479 110.929 71.2224 113.987 72.6211C115.491 73.309 128.061 78.8122 141.408 73.7065C143.519 72.8963 146.772 71.3982 150.193 68.5855C151.916 51.9306 153.648 35.2834 155.371 18.6286C156.596 12.7508 162.788 8.79159 169.175 9.65529C175.35 10.4884 179.928 15.5942 179.531 21.3649C178.002 41.8261 175.628 56.402 173.491 66.6364C172.351 72.0938 170.509 80.0046 172.63 90.0556C174.665 99.7244 177.977 100.007 178.653 106.29C180.122 119.842 165.551 125.437 157.525 143.139C151.874 155.613 152.567 166.894 153.64 174.751C157.652 204.018 174.032 209.964 171.041 229.394C170.847 230.655 167.493 248.365 151.342 256.979C143.013 261.419 134.405 261.771 130.493 261.893H130.51Z" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="nose-r" d="M135.84 216.37C136.701 211.047 140.706 207.684 144.321 208.105C147.928 208.527 150.108 212.604 150.648 215.591C151.493 220.255 148.942 225.431 144.178 228.226" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="nose-l" d="M121.735 216.37C120.873 211.047 116.869 207.684 113.253 208.105C109.646 208.527 107.467 212.604 106.926 215.591C106.081 220.255 108.632 225.431 113.397 228.226" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-r" d="M160.314 254.123C162.646 290.293 164.056 325.3 166.387 361.47" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-l" d="M98.0725 254.22C95.741 290.39 93.519 325.3 91.1875 361.47" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-spot-r" d="M161.344 283.15C159.333 284.4 144.618 293.95 141.805 313.21C139.034 332.13 148.901 352.56 166.395 361.47" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-spot-l" d="M97.8608 334.49C111.613 330.07 121.666 316.11 123.034 299.62C124.487 282.14 115.888 265.29 101.89 258.45" stroke="#1D1D1B" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<div class="relative space-y-4">

					<h1 class="text-5xl font-bold">GSAP animations</h1>
					
					<span class="hidden lg:block absolute top-2 -right-48">
						<svg width="142" height="110" viewBox="0 0 142 110" fill="none" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<filter id="dropshadow" height="130%">
									<feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
									<feOffset dx="2" dy="6" result="offsetblur"/> <!-- x and y offset -->
									<feComponentTransfer>
										<feFuncA type="linear" slope="0.2"/> <!-- opacity -->
									</feComponentTransfer>
									<feMerge> 
										<feMergeNode/>
										<feMergeNode in="SourceGraphic"/>
									</feMerge>
								</filter>
							</defs>
							<path class="arrow" filter="url(#dropshadow)" d="M1.75098 1.73621C84.6 4.62375 169.969 26.956 76.7063 107.561" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<line class="arrow-head" x1="76.7383" y1="107.569" x2="88.3984" y2="107.569" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<path class="arrow-head" d="M76.7383 107.57L77.6955 97.5463" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<path class="scroll-text" d="M109.95 92.529L109.212 94.1262C108.989 94.0591 108.75 94.0331 108.495 94.0481C108.243 94.0597 107.99 94.1374 107.734 94.2812C107.478 94.4251 107.237 94.6597 107.01 94.985C106.701 95.4293 106.543 95.8695 106.536 96.3055C106.525 96.7391 106.675 97.0642 106.986 97.2808C107.256 97.4682 107.542 97.5194 107.845 97.4344C108.148 97.3494 108.507 97.1213 108.921 96.75L110.105 95.6741C110.793 95.0518 111.441 94.6829 112.051 94.5673C112.661 94.4517 113.251 94.5923 113.821 94.989C114.304 95.3248 114.637 95.7641 114.82 96.3067C115.002 96.8435 115.027 97.4345 114.895 98.0796C114.765 98.7213 114.474 99.3675 114.021 100.018C113.393 100.921 112.689 101.523 111.907 101.826C111.122 102.126 110.328 102.092 109.524 101.725L110.348 100.048C110.809 100.229 111.243 100.243 111.651 100.09C112.055 99.9348 112.421 99.6211 112.749 99.1489C113.107 98.6346 113.286 98.1494 113.287 97.6931C113.284 97.2344 113.127 96.8967 112.816 96.6801C112.564 96.5049 112.287 96.4521 111.984 96.5218C111.684 96.5879 111.356 96.783 111.001 97.1069L109.752 98.2631C109.058 98.8959 108.398 99.2623 107.773 99.3622C107.15 99.4586 106.552 99.3072 105.979 98.9081C105.503 98.5771 105.179 98.1546 105.007 97.6405C104.835 97.1264 104.813 96.5657 104.94 95.9582C105.063 95.3483 105.335 94.7408 105.756 94.1356C106.362 93.2646 107.028 92.7104 107.754 92.473C108.476 92.2332 109.208 92.2518 109.95 92.529ZM119.876 91.6031C119.333 92.3831 118.689 92.9319 117.944 93.2493C117.198 93.5607 116.407 93.6491 115.571 93.5143C114.736 93.3795 113.914 93.031 113.106 92.4688C112.288 91.8993 111.672 91.2429 111.26 90.4994C110.845 89.7535 110.655 88.9778 110.691 88.1724C110.727 87.3669 111.009 86.5846 111.537 85.8255C111.963 85.2133 112.457 84.7467 113.017 84.4257C113.575 84.1022 114.158 83.9347 114.769 83.9231C115.381 83.9081 115.978 84.0612 116.559 84.3825L115.497 85.9094C115.061 85.7305 114.602 85.6966 114.12 85.8076C113.64 85.9151 113.226 86.219 112.878 86.7192C112.574 87.1564 112.423 87.6198 112.425 88.1092C112.426 88.5927 112.575 89.0727 112.871 89.549C113.165 90.023 113.598 90.4595 114.172 90.8586C114.759 91.2675 115.329 91.5312 115.88 91.6497C116.431 91.7682 116.936 91.7463 117.397 91.584C117.86 91.4183 118.246 91.1133 118.555 90.669C118.762 90.3717 118.895 90.0646 118.955 89.7478C119.013 89.425 118.996 89.1097 118.904 88.8017C118.815 88.4902 118.648 88.2002 118.404 87.9317L119.466 86.4048C119.949 86.8234 120.296 87.3167 120.508 87.8848C120.72 88.4529 120.778 89.0563 120.681 89.6951C120.587 90.3304 120.318 90.9664 119.876 91.6031ZM123.184 86.5012L115.124 80.8941L116.179 79.3776L117.459 80.2684L117.518 80.1844C117.186 79.7357 117.025 79.2396 117.035 78.696C117.043 78.1465 117.212 77.6356 117.54 77.1634C117.609 77.0654 117.692 76.9524 117.792 76.8243C117.894 76.6928 117.977 76.5922 118.041 76.5225L119.541 77.5666C119.48 77.6174 119.383 77.7159 119.25 77.8622C119.114 78.0061 118.989 78.1585 118.877 78.3194C118.62 78.6902 118.468 79.0755 118.424 79.4754C118.378 79.8693 118.435 80.2463 118.595 80.6065C118.751 80.9642 119.003 81.2648 119.353 81.5082L124.275 84.9323L123.184 86.5012ZM129.453 77.8372C128.927 78.5928 128.295 79.1318 127.557 79.454C126.819 79.7763 126.03 79.8765 125.191 79.7546C124.352 79.6327 123.516 79.2822 122.683 78.703C121.847 78.1214 121.224 77.4571 120.815 76.7101C120.405 75.9632 120.223 75.1876 120.269 74.3835C120.314 73.5794 120.6 72.7995 121.125 72.0439C121.651 71.2884 122.283 70.7494 123.021 70.4272C123.759 70.1049 124.55 70.0059 125.392 70.1302C126.235 70.2545 127.075 70.6075 127.911 71.1891C128.743 71.7683 129.362 72.4302 129.769 73.1747C130.175 73.9192 130.355 74.6936 130.309 75.4977C130.264 76.3018 129.978 77.0817 129.453 77.8372ZM128.139 76.9157C128.48 76.426 128.633 75.9302 128.598 75.4283C128.563 74.9263 128.384 74.4488 128.061 73.9955C127.74 73.5388 127.321 73.1303 126.803 72.7701C126.289 72.4124 125.762 72.1625 125.222 72.0206C124.681 71.8727 124.168 71.8685 123.681 72.0078C123.195 72.1471 122.782 72.4616 122.441 72.9513C122.098 73.4445 121.944 73.9451 121.98 74.4529C122.019 74.9573 122.2 75.439 122.524 75.8982C122.847 76.3515 123.266 76.757 123.78 77.1147C124.298 77.4749 124.826 77.7277 125.363 77.8731C125.903 78.0151 126.414 78.0152 126.897 77.8734C127.382 77.7282 127.796 77.409 128.139 76.9157ZM123.467 63.1708L134.213 70.647L133.122 72.2159L122.376 64.7397L123.467 63.1708ZM126.027 59.4913L136.773 66.9675L135.682 68.5364L124.936 61.0602L126.027 59.4913Z" fill="#394D3F"/>
						</svg>
					</span>

					<p class="text-lg font-light text-gray-500 ">
						A collection of animations using 
						<a class="text-[#2cab4d] hover:underline underline-offset-2" href="https://gsap.com/" target="_blank">GSAP</a>
						and its different plugins
					</p>

				</div>
			</header>

			<main class="flex flex-col items-center justify-center space-y-8">
				<!-- <div class="bg-white border border-black w-full rounded-lg min-h-[4rem] drop-shadow-lg"></div> -->
				
				<AnimationCard client:load />
				<AnimationCard client:load />

			</main>

		</div>
	</body>
</html>

<script>
	import { gsap } from "gsap";
	import { GSDevTools } from "gsap/GSDevTools";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";
	
	gsap.registerPlugin(GSDevTools);
	gsap.registerPlugin(DrawSVGPlugin) 

	// GSAP DEV TOOLS FOR DEBUGGING
	// GSDevTools.create();

	function animateEars() {
		const tl = gsap.timeline({ repeatDelay: 6, repeat: -1 });

		tl.to(".ear-l", {
			rotate: 10,
			transformOrigin: "100% 100%",
			repeat: 3,
			yoyo: true,
			duration: 0.3,
			ease: "power1.inOut",
		})
		.to(".ear-r", {
			rotate: -10,
			transformOrigin: "0% 100%",
			repeat: 3,
			yoyo: true,
			duration: 0.3,
			ease: "power1.inOut",
		}, "<",);

		return tl;
	}

	function animateArrow() {
		const tl = gsap.timeline();

		tl.fromTo(".arrow", {
			drawSVG: "0%",
		}, {
			drawSVG: "100%",
			duration: .5,
			ease: "power1.inOut",
		})
		.fromTo(".arrow-head", {
			drawSVG: "0%",
		}, {
			drawSVG: "100%",
			duration: .1,
			ease: "power1.inOut",
		})
		.from(".scroll-text", {
			opacity: 0,
			duration: 1,
			ease: "power1.inOut",
		});

		return tl;
	}

	const earsTimeline = animateEars();
	earsTimeline.play();

	const arrowTimeline = animateArrow();
	arrowTimeline.play();
</script>
