---
import '@/styles/globals.css'
import '@fontsource-variable/inter';

import AnimationCard from '@/components/AnimationCard.vue';
import { Code } from 'astro:components';

import Pinning from '@/animations/scrollTrigger/pinning.vue';
import Sliding from '@/animations/scrollTrigger/sliding.vue';

import fs from 'fs';
import path from 'path';

const pinningCode = fs.readFileSync(path.join(process.cwd(), 'src', 'animations', 'scrollTrigger', 'pinning.vue'), 'utf8');
const slidingCode = fs.readFileSync(path.join(process.cwd(), 'src', 'animations', 'scrollTrigger', 'sliding.vue'), 'utf8');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta property="og:image" content="https://gsap-abc.netlify.app/og.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="760" />
		<meta property="og:image:height" content="372" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GSAP animations</title>
	</head>
	<body class="bg-[#FDFDFF] text-[#394D3F]">
		<div class="mx-auto px-4 max-w-4xl space-y-20">

			<header class="flex flex-col items-center justify-center text-center space-y-12 my-8">
				<svg class="w-28 h-32" role="img" aria-label="GSAP abc logo, it's a giraffe head" width="258" height="370" viewBox="0 0 258 370" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round">
					<path class="eye-r" d="M182.564 161.737C187.327 161.737 191.189 156.688 191.189 150.459C191.189 144.23 187.327 139.18 182.564 139.18C177.8 139.18 173.939 144.23 173.939 150.459C173.939 156.688 177.8 161.737 182.564 161.737Z" fill="#394D3F" stroke="#394D3F" stroke-width="2.35" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="eye-l" d="M75.0106 161.737C79.774 161.737 83.6355 156.688 83.6355 150.459C83.6355 144.23 79.774 139.18 75.0106 139.18C70.2472 139.18 66.3857 144.23 66.3857 150.459C66.3857 156.688 70.2472 161.737 75.0106 161.737Z" fill="#394D3F" stroke="#394D3F" stroke-width="2.35" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="ear-r" d="M191.188 88.491C191.467 82.5814 192.667 72.0449 198.217 60.6654C200.464 56.066 206.808 43.468 220.814 34.8831C232.936 27.4525 244.484 26.8936 249.941 27.0219C250.709 30.9983 251.537 37.9157 249.62 45.9235C247.111 56.4142 241.324 62.7819 236.856 67.7111C234.989 69.7635 227.699 77.5238 215.652 82.9479C205.836 87.364 197 88.3627 191.188 88.491Z" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="ear-l" d="M66.3857 88.491C66.1069 82.5814 64.9074 72.0449 59.3574 60.6654C57.1103 56.066 50.7663 43.468 36.7603 34.8831C24.6382 27.4525 13.0905 26.8936 7.63339 27.0219C6.86467 30.9983 6.0368 37.9157 7.95438 45.9235C10.4633 56.4142 16.2498 62.7819 20.7185 67.7111C22.5854 69.7635 29.8756 77.5238 41.9217 82.9479C51.7377 87.364 60.5738 88.3627 66.3857 88.491Z" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="head" d="M130.51 261.893C126.456 262.016 116.014 262.23 106.207 256.979C89.9793 248.288 86.7017 230.663 86.5074 229.394C83.5085 209.964 99.8966 204.025 103.909 174.751C104.982 166.886 105.683 155.613 100.023 143.139C91.9982 125.437 77.4263 119.842 78.8962 106.29C79.5804 100.015 82.8834 99.7244 84.9192 90.0556C87.0396 80.0046 85.198 72.0938 84.0576 66.6364C81.9204 56.402 79.5466 41.8261 78.0176 21.3649C77.6122 15.5942 82.1907 10.4884 88.3743 9.65529C94.7606 8.79159 100.953 12.7585 102.177 18.6286C103.901 35.2834 105.632 51.9306 107.356 68.5855C108.707 69.6479 110.929 71.2224 113.987 72.6211C115.491 73.309 128.061 78.8122 141.408 73.7065C143.519 72.8963 146.772 71.3982 150.193 68.5855C151.916 51.9306 153.648 35.2834 155.371 18.6286C156.596 12.7508 162.788 8.79159 169.175 9.65529C175.35 10.4884 179.928 15.5942 179.531 21.3649C178.002 41.8261 175.628 56.402 173.491 66.6364C172.351 72.0938 170.509 80.0046 172.63 90.0556C174.665 99.7244 177.977 100.007 178.653 106.29C180.122 119.842 165.551 125.437 157.525 143.139C151.874 155.613 152.567 166.894 153.64 174.751C157.652 204.018 174.032 209.964 171.041 229.394C170.847 230.655 167.493 248.365 151.342 256.979C143.013 261.419 134.405 261.771 130.493 261.893H130.51Z" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="nose-r" d="M135.84 216.37C136.701 211.047 140.706 207.684 144.321 208.105C147.928 208.527 150.108 212.604 150.648 215.591C151.493 220.255 148.942 225.431 144.178 228.226" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="nose-l" d="M121.735 216.37C120.873 211.047 116.869 207.684 113.253 208.105C109.646 208.527 107.467 212.604 106.926 215.591C106.081 220.255 108.632 225.431 113.397 228.226" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-r" d="M160.314 254.123C162.646 290.293 164.056 325.3 166.387 361.47" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-l" d="M98.0725 254.22C95.741 290.39 93.519 325.3 91.1875 361.47" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-spot-r" d="M161.344 283.15C159.333 284.4 144.618 293.95 141.805 313.21C139.034 332.13 148.901 352.56 166.395 361.47" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="neck-spot-l" d="M97.8608 334.49C111.613 330.07 121.666 316.11 123.034 299.62C124.487 282.14 115.888 265.29 101.89 258.45" stroke="#394D3F" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<div class="relative space-y-4">

					<h1 class="text-5xl font-bold">GSAP animations</h1>
					
					<span class="hidden lg:block absolute top-2 -right-48">
						<svg width="142" height="110" viewBox="0 0 142 110" fill="none" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<filter id="dropshadow" height="130%">
									<feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
									<feOffset dx="2" dy="6" result="offsetblur"/> <!-- x and y offset -->
									<feComponentTransfer>
										<feFuncA type="linear" slope="0.2"/> <!-- opacity -->
									</feComponentTransfer>
									<feMerge> 
										<feMergeNode/>
										<feMergeNode in="SourceGraphic"/>
									</feMerge>
								</filter>
							</defs>
							<path class="arrow" filter="url(#dropshadow)" d="M1.75098 1.73621C84.6 4.62375 169.969 26.956 76.7063 107.561" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<line class="arrow-head" x1="76.7383" y1="107.569" x2="88.3984" y2="107.569" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<path class="arrow-head" d="M76.7383 107.57L77.6955 97.5463" stroke="#394D3F" stroke-width="3" stroke-linecap="round"/>
							<path class="scroll-text" d="M109.95 92.529L109.212 94.1262C108.989 94.0591 108.75 94.0331 108.495 94.0481C108.243 94.0597 107.99 94.1374 107.734 94.2812C107.478 94.4251 107.237 94.6597 107.01 94.985C106.701 95.4293 106.543 95.8695 106.536 96.3055C106.525 96.7391 106.675 97.0642 106.986 97.2808C107.256 97.4682 107.542 97.5194 107.845 97.4344C108.148 97.3494 108.507 97.1213 108.921 96.75L110.105 95.6741C110.793 95.0518 111.441 94.6829 112.051 94.5673C112.661 94.4517 113.251 94.5923 113.821 94.989C114.304 95.3248 114.637 95.7641 114.82 96.3067C115.002 96.8435 115.027 97.4345 114.895 98.0796C114.765 98.7213 114.474 99.3675 114.021 100.018C113.393 100.921 112.689 101.523 111.907 101.826C111.122 102.126 110.328 102.092 109.524 101.725L110.348 100.048C110.809 100.229 111.243 100.243 111.651 100.09C112.055 99.9348 112.421 99.6211 112.749 99.1489C113.107 98.6346 113.286 98.1494 113.287 97.6931C113.284 97.2344 113.127 96.8967 112.816 96.6801C112.564 96.5049 112.287 96.4521 111.984 96.5218C111.684 96.5879 111.356 96.783 111.001 97.1069L109.752 98.2631C109.058 98.8959 108.398 99.2623 107.773 99.3622C107.15 99.4586 106.552 99.3072 105.979 98.9081C105.503 98.5771 105.179 98.1546 105.007 97.6405C104.835 97.1264 104.813 96.5657 104.94 95.9582C105.063 95.3483 105.335 94.7408 105.756 94.1356C106.362 93.2646 107.028 92.7104 107.754 92.473C108.476 92.2332 109.208 92.2518 109.95 92.529ZM119.876 91.6031C119.333 92.3831 118.689 92.9319 117.944 93.2493C117.198 93.5607 116.407 93.6491 115.571 93.5143C114.736 93.3795 113.914 93.031 113.106 92.4688C112.288 91.8993 111.672 91.2429 111.26 90.4994C110.845 89.7535 110.655 88.9778 110.691 88.1724C110.727 87.3669 111.009 86.5846 111.537 85.8255C111.963 85.2133 112.457 84.7467 113.017 84.4257C113.575 84.1022 114.158 83.9347 114.769 83.9231C115.381 83.9081 115.978 84.0612 116.559 84.3825L115.497 85.9094C115.061 85.7305 114.602 85.6966 114.12 85.8076C113.64 85.9151 113.226 86.219 112.878 86.7192C112.574 87.1564 112.423 87.6198 112.425 88.1092C112.426 88.5927 112.575 89.0727 112.871 89.549C113.165 90.023 113.598 90.4595 114.172 90.8586C114.759 91.2675 115.329 91.5312 115.88 91.6497C116.431 91.7682 116.936 91.7463 117.397 91.584C117.86 91.4183 118.246 91.1133 118.555 90.669C118.762 90.3717 118.895 90.0646 118.955 89.7478C119.013 89.425 118.996 89.1097 118.904 88.8017C118.815 88.4902 118.648 88.2002 118.404 87.9317L119.466 86.4048C119.949 86.8234 120.296 87.3167 120.508 87.8848C120.72 88.4529 120.778 89.0563 120.681 89.6951C120.587 90.3304 120.318 90.9664 119.876 91.6031ZM123.184 86.5012L115.124 80.8941L116.179 79.3776L117.459 80.2684L117.518 80.1844C117.186 79.7357 117.025 79.2396 117.035 78.696C117.043 78.1465 117.212 77.6356 117.54 77.1634C117.609 77.0654 117.692 76.9524 117.792 76.8243C117.894 76.6928 117.977 76.5922 118.041 76.5225L119.541 77.5666C119.48 77.6174 119.383 77.7159 119.25 77.8622C119.114 78.0061 118.989 78.1585 118.877 78.3194C118.62 78.6902 118.468 79.0755 118.424 79.4754C118.378 79.8693 118.435 80.2463 118.595 80.6065C118.751 80.9642 119.003 81.2648 119.353 81.5082L124.275 84.9323L123.184 86.5012ZM129.453 77.8372C128.927 78.5928 128.295 79.1318 127.557 79.454C126.819 79.7763 126.03 79.8765 125.191 79.7546C124.352 79.6327 123.516 79.2822 122.683 78.703C121.847 78.1214 121.224 77.4571 120.815 76.7101C120.405 75.9632 120.223 75.1876 120.269 74.3835C120.314 73.5794 120.6 72.7995 121.125 72.0439C121.651 71.2884 122.283 70.7494 123.021 70.4272C123.759 70.1049 124.55 70.0059 125.392 70.1302C126.235 70.2545 127.075 70.6075 127.911 71.1891C128.743 71.7683 129.362 72.4302 129.769 73.1747C130.175 73.9192 130.355 74.6936 130.309 75.4977C130.264 76.3018 129.978 77.0817 129.453 77.8372ZM128.139 76.9157C128.48 76.426 128.633 75.9302 128.598 75.4283C128.563 74.9263 128.384 74.4488 128.061 73.9955C127.74 73.5388 127.321 73.1303 126.803 72.7701C126.289 72.4124 125.762 72.1625 125.222 72.0206C124.681 71.8727 124.168 71.8685 123.681 72.0078C123.195 72.1471 122.782 72.4616 122.441 72.9513C122.098 73.4445 121.944 73.9451 121.98 74.4529C122.019 74.9573 122.2 75.439 122.524 75.8982C122.847 76.3515 123.266 76.757 123.78 77.1147C124.298 77.4749 124.826 77.7277 125.363 77.8731C125.903 78.0151 126.414 78.0152 126.897 77.8734C127.382 77.7282 127.796 77.409 128.139 76.9157ZM123.467 63.1708L134.213 70.647L133.122 72.2159L122.376 64.7397L123.467 63.1708ZM126.027 59.4913L136.773 66.9675L135.682 68.5364L124.936 61.0602L126.027 59.4913Z" fill="#394D3F"/>
						</svg>
					</span>

					<p class="text-lg font-light text-gray-500 ">
						A collection of animations using 
						<a class="text-[#2cab4d] hover:underline underline-offset-2" href="https://gsap.com/" target="_blank">GSAP</a>
						and its different plugins
					</p>

					
				</div>
				<svg class="flex lg:hidden mx-auto" width="48" height="57" viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="arrow" x1="23.9941" y1="1" x2="23.9941" y2="30.848" stroke="#394D3F" stroke-width="2" stroke-linecap="round"/>
					<line class="arrow-head" x1="1" y1="-1" x2="6.09052" y2="-1" transform="matrix(0.739186 -0.673501 0.560505 0.828151 23.8838 32.3018)" stroke="#394D3F" stroke-width="2" stroke-linecap="round"/>
					<line class="arrow-head" x1="1" y1="-1" x2="6.09052" y2="-1" transform="matrix(-0.739186 -0.673501 -0.560505 0.828151 24.1162 32.3018)" stroke="#394D3F" stroke-width="2" stroke-linecap="round"/>
					<path class="scroll-text" d="M9.14205 44.8806L7.4098 45.1874C7.33736 44.9658 7.2223 44.7549 7.06463 44.5546C6.91122 44.3543 6.70242 44.1903 6.43821 44.0624C6.17401 43.9346 5.84375 43.8706 5.44744 43.8706C4.90625 43.8706 4.45455 43.9921 4.09233 44.235C3.73011 44.4736 3.54901 44.7826 3.54901 45.1618C3.54901 45.49 3.67045 45.7542 3.91335 45.9545C4.15625 46.1547 4.5483 46.3188 5.08949 46.4466L6.64915 46.8046C7.55256 47.0134 8.22585 47.3351 8.66903 47.7698C9.11222 48.2045 9.33381 48.7691 9.33381 49.4637C9.33381 50.0518 9.16335 50.5759 8.82244 51.0361C8.4858 51.4921 8.01492 51.8501 7.4098 52.11C6.80895 52.3699 6.11222 52.4999 5.3196 52.4999C4.22017 52.4999 3.32315 52.2655 2.62855 51.7968C1.93395 51.3238 1.50781 50.6526 1.35014 49.7833L3.19744 49.502C3.3125 49.9836 3.54901 50.3479 3.90696 50.5951C4.26491 50.838 4.73153 50.9594 5.30682 50.9594C5.93324 50.9594 6.43395 50.8295 6.80895 50.5695C7.18395 50.3053 7.37145 49.9836 7.37145 49.6043C7.37145 49.2975 7.25639 49.0397 7.02628 48.8309C6.80043 48.6221 6.45312 48.4644 5.98438 48.3579L4.32244 47.9935C3.40625 47.7847 2.72869 47.4523 2.28977 46.9964C1.85511 46.5404 1.63778 45.963 1.63778 45.2641C1.63778 44.6846 1.79972 44.1775 2.12358 43.7428C2.44744 43.3081 2.89489 42.9694 3.46591 42.7265C4.03693 42.4793 4.69105 42.3557 5.42827 42.3557C6.48935 42.3557 7.32457 42.5858 7.93395 43.0461C8.54332 43.502 8.94602 44.1135 9.14205 44.8806ZM15.5708 52.4999C14.6206 52.4999 13.8024 52.2847 13.1163 51.8543C12.4345 51.4197 11.9103 50.8209 11.5439 50.0581C11.1774 49.2954 10.9941 48.4218 10.9941 47.4374C10.9941 46.4403 11.1816 45.5603 11.5566 44.7975C11.9316 44.0305 12.46 43.4317 13.1419 43.0013C13.8237 42.5709 14.627 42.3557 15.5517 42.3557C16.2974 42.3557 16.9622 42.4942 17.546 42.7712C18.1298 43.0439 18.6007 43.4275 18.9586 43.9218C19.3208 44.4161 19.536 44.9935 19.6042 45.654H17.7441C17.6419 45.1938 17.4075 44.7975 17.041 44.4651C16.6788 44.1327 16.193 43.9665 15.5836 43.9665C15.051 43.9665 14.5843 44.1072 14.1838 44.3884C13.7875 44.6654 13.4785 45.0617 13.2569 45.5773C13.0353 46.0887 12.9245 46.6938 12.9245 47.3927C12.9245 48.1086 13.0332 48.7265 13.2505 49.2464C13.4679 49.7662 13.7747 50.1689 14.171 50.4545C14.5716 50.74 15.0424 50.8827 15.5836 50.8827C15.9458 50.8827 16.274 50.8167 16.568 50.6846C16.8663 50.5482 17.1156 50.3543 17.3159 50.1029C17.5204 49.8515 17.6632 49.5489 17.7441 49.1952H19.6042C19.536 49.8302 19.3294 50.3969 18.9842 50.8955C18.639 51.3941 18.1767 51.7861 17.5971 52.0716C17.0218 52.3572 16.3464 52.4999 15.5708 52.4999ZM21.6481 52.3018V42.4836H23.4954V44.0432H23.5977C23.7766 43.5148 24.092 43.0993 24.5437 42.7968C24.9996 42.49 25.5153 42.3366 26.0906 42.3366C26.2099 42.3366 26.3505 42.3408 26.5124 42.3493C26.6786 42.3579 26.8086 42.3685 26.9023 42.3813V44.2094C26.8256 44.1881 26.6893 44.1647 26.4933 44.1391C26.2972 44.1093 26.1012 44.0944 25.9052 44.0944C25.4535 44.0944 25.0508 44.1903 24.6971 44.382C24.3477 44.5695 24.0707 44.8316 23.8661 45.1682C23.6616 45.5006 23.5593 45.8799 23.5593 46.306V52.3018H21.6481ZM32.3404 52.4999C31.4199 52.4999 30.6167 52.289 29.9306 51.8671C29.2445 51.4452 28.7118 50.855 28.3326 50.0965C27.9533 49.338 27.7637 48.4516 27.7637 47.4374C27.7637 46.4189 27.9533 45.5283 28.3326 44.7655C28.7118 44.0028 29.2445 43.4104 29.9306 42.9885C30.6167 42.5667 31.4199 42.3557 32.3404 42.3557C33.2608 42.3557 34.0641 42.5667 34.7502 42.9885C35.4363 43.4104 35.9689 44.0028 36.3482 44.7655C36.7275 45.5283 36.9171 46.4189 36.9171 47.4374C36.9171 48.4516 36.7275 49.338 36.3482 50.0965C35.9689 50.855 35.4363 51.4452 34.7502 51.8671C34.0641 52.289 33.2608 52.4999 32.3404 52.4999ZM32.3468 50.8955C32.9434 50.8955 33.4377 50.7378 33.8297 50.4225C34.2218 50.1072 34.5115 49.6874 34.699 49.1633C34.8908 48.6391 34.9867 48.0617 34.9867 47.431C34.9867 46.8046 34.8908 46.2293 34.699 45.7052C34.5115 45.1768 34.2218 44.7528 33.8297 44.4331C33.4377 44.1135 32.9434 43.9537 32.3468 43.9537C31.7459 43.9537 31.2473 44.1135 30.851 44.4331C30.459 44.7528 30.1671 45.1768 29.9753 45.7052C29.7878 46.2293 29.6941 46.8046 29.6941 47.431C29.6941 48.0617 29.7878 48.6391 29.9753 49.1633C30.1671 49.6874 30.459 50.1072 30.851 50.4225C31.2473 50.7378 31.7459 50.8955 32.3468 50.8955ZM40.9616 39.2108V52.3018H39.0504V39.2108H40.9616ZM45.4441 39.2108V52.3018H43.5328V39.2108H45.4441Z" fill="#394D3F"/>
				</svg>
			</header>

			<main class="flex flex-col items-center justify-center space-y-8">
				
				<AnimationCard
					animationTitle='Pinning'
					linkText='ScrollTrigger'
					linkUrl='https://gsap.com/docs/v3/Plugins/ScrollTrigger/'
					client:visible
				>
					<Pinning slot='animation' client:only />
					<span slot='code'>
						<Code code={pinningCode} lang="js" theme="nord" />
					</span>
				</AnimationCard>

				<AnimationCard
					animationTitle='Sliding'
					linkText='ScrollTrigger'
					linkUrl='https://gsap.com/docs/v3/Plugins/ScrollTrigger/'
					client:visible
				>
					<Sliding slot='animation' client:only />
					<span slot='code'>
						<Code code={slidingCode} lang="js" theme="nord" />
					</span>
				</AnimationCard>

				<div class="h-[50vh]">
			</main>
			</div>
		</div>
	</body>
</html>

<script>
	import { gsap } from "gsap";
	import { GSDevTools } from "gsap/GSDevTools";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";
	
	gsap.registerPlugin(GSDevTools);
	gsap.registerPlugin(DrawSVGPlugin) 

	let earsTimeline;
	let arrowTimeline;

	function animateEars() {
		const tl = gsap.timeline({ id: "ears", repeatDelay: 6, repeat: -1 });

		tl.to(".ear-l", {
			rotate: 10,
			transformOrigin: "100% 100%",
			repeat: 3,
			yoyo: true,
			duration: 0.3,
			ease: "power1.inOut",
		})
		.to(".ear-r", {
			rotate: -10,
			transformOrigin: "0% 100%",
			repeat: 3,
			yoyo: true,
			duration: 0.3,
			ease: "power1.inOut",
		}, "<",);

		return tl;
	}

	function animateArrow() {
		const tl = gsap.timeline({id: "arrow" });

		tl.fromTo(".arrow", {
			drawSVG: "0%",
		}, {
			drawSVG: "100%",
			duration: .5,
			ease: "power1.inOut",
		})
		.fromTo(".arrow-head", {
			drawSVG: "0%",
		}, {
			drawSVG: "100%",
			duration: .1,
			ease: "power1.inOut",
		})
		.from(".scroll-text", {
			opacity: 0,
			duration: 1,
			ease: "power1.inOut",
		});

		return tl;
	}

	earsTimeline = animateEars();
	arrowTimeline = animateArrow();
	
	// GSAP DEV TOOLS FOR DEBUGGING
	// GSDevTools.create();

	earsTimeline.play();
	arrowTimeline.play();
</script>
